:root {
  --bg-main-color: #1d2736;
  --text-color-light: #f8f8f8;
  --section-padding-small: 2em 6em;
}

html {
    font-family: sans-serif;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/Manrope-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/Manrope-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/Manrope-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Classes principais */

.section {
  padding: var(--section-padding-small);
}

.section.is--hero {
  background-color: var(--bg-main-color);
  color: var(--text-color-light);
}

.main-container {
  width: 90vw;
  max-width: 1140px;
  margin-inline: auto;
}

.hero_comp {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hero_heading-wrap {
  width: 100%;
}

.hero_text-wrap {
  max-width: 15em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.heading-syle-large {
  font-size: 8em;
}
