:root {
  --bg-main-color: #1d2736;
  --text-color-light: #f8f8f8;
  --primary-accent-color: #FC6A00;
  --primary-accent-hover: #933d00;
  --secondary-accent-color: #327EFF;
  --section-padding-small: 7em 2em;
  --button-border-radius: 0.5em;
  --button-padding-small: .5em 0.8em;
  --transition-time-short: 150ms;
  --hover-translate-y: translateY(-.2em);
  --section-column-gap: 4em;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 18px;
  background-color: var(--text-color-light);
  font-family: "Manrope";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* height: 500vh; */
}

a, u {
  color: inherit;
  text-decoration: inherit;
}

/* Classes principais */

.navbar {
  position: sticky;
  top: 0;
  z-index: 99999;
}

.section, .navbar {
  padding: var(--section-padding-small);
}

.section {
  position: relative;
}

.navbar {
    padding: 1em 2em;
}

.section.is--hero, .navbar {
  background-color: var(--bg-main-color);
  color: var(--text-color-light);
}

.section.is--hero {
  background-image: url(/assets/section-diagonal-divider.svg);
  background-position: 50% 100%, 0px 0px, 0px 0px;
  background-size: 100vw, auto, cover;
  background-repeat: no-repeat, repeat, no-repeat;
}

.section.is--review {
  background-image: url(/assets/section-diagonal-divider-dark.svg);
  background-position: 50% 100%, 0px 0px, 0px 0px;
  background-size: 100vw, auto, cover;
  background-repeat: no-repeat, repeat, no-repeat;
}

.section.is--dark {
  background-color: var(--bg-main-color);
  color: var(--text-color-light);
}

.main-container {
  width: 90vw;
  max-width: 1140px;
  margin-inline: auto;
}

.hero_comp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2em;
}

.hero_heading-wrap {
  width: 100%;
}

.hero_text-wrap {
  max-width: 20em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: start;
}

.heading-style-large {
  font-family: "Ranade";
  font-weight: 400;
  font-size: 5em;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.main-btn {
    padding: var(--button-padding-small);
    background-color: var(--primary-accent-color);
    border-radius: var(--button-border-radius);
    transition: all var(--transition-time-short);
}

.main-btn:hover {
    background-color: var(--primary-accent-hover);
    transform: var(--hover-translate-y);
}

.main-btn.is--secondary {
    padding: var(--button-padding-small);
    border: 1px solid var(--text-color-light);
    border-radius: var(--button-border-radius);
    background-color: transparent;
    transition: all var(--transition-time-short);
}

.main-btn.is--secondary:hover {
    background-color: var(--text-color-light);
    color: var(--bg-main-color);
    transform: var(--hover-translate-y);
}

.hero_product-image {
    position: absolute;
    left: 0;
    top: auto;
    transform: translateY(17em) translateX(-8em);
    pointer-events: none;
    max-width: 85%;
}

.navbar_comp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo-wrap {
  display: flex;
  align-items: center;
}

.navbar_menu-wrap {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.navbar_brand-logo {
    width: 180px;
}

.heading-style-medium {
  font-size: 2em;
  font-family: "Ranade";
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.3;
}

.text-size-large {
  font-size: 1.3em;
  font-weight: 400;
}

.text-size-normal {
  
}

.text-size-small {
  font-size: 0.8em;
}

.text-overline {
  font-size: 0.6em;
  font-family: "Ranade";
  text-transform: uppercase;
  letter-spacing: 0.65em;
}

.about_comp, .history_comp {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--section-column-gap);
}

.history_comp {
  flex-direction: row-reverse;
  justify-content: space-between;
}


.about_content-left-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.about_advantages-wrap {
  display: flex;
  flex-direction: column;
  row-gap: .5em;
  margin-top: 2em;
}

.about_advantages-wrap  u {
  padding-left: 39px;
  background-image: url("/assets/icons/checkmark-icon.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%, 0px 0px, 0px 0px;
  background-size: 24px, auto, cover;
}

.home_banner-wrap  u {
  padding-left: 39px;
  background-image: url("/assets/icons/checkmark-icon.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%, 0px 0px, 0px 0px;
  background-size: 24px, auto, cover;
}

.home_banner-wrap  u {
  padding-left: 39px;
  background-image: url("/assets/icons/checkmark-icon-white.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%, 0px 0px, 0px 0px;
  background-size: 24px, auto, cover;
}

.home_banner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-span-underline {
  padding: 4px 2px 8px;
  background-image: url("/assets/images/heading-underline-span.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%, 0px 0px, 4px 0px;
  background-size: 90%;
  pointer-events: none;
}

.home_banner-wrap {
  background-color: var(--secondary-accent-color);
  color: var(--text-color-light);
  padding: 5px 0px;
  font-size: 16px;
}

.home_banner-wrap {
  background-color: var(--secondary-accent-color);
  color: var(--text-color-light);
  padding: 5px 0px;
  font-size: 16px;
}

.review_comp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 2em;
}

.review_comp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 2em;
}

.review_client-image {
  border-radius: 99em;
  pointer-events: none;
}

.history_content-right-wrap {
  max-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 2em;
}

/* Tablet brekpoint */

@media screen and (max-width: 991px) {

}

/* Horizontal mobile */

@media screen and (max-width: 767px) {
  
}

/* Potrait mobile */

@media screen and (max-width: 479px) {
  
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ranade";
  src: url("/fonts/ranade/Ranade-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ranade";
  src: url("/fonts/ranade/Ranade-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}