
  :root {
  
    /* Colors */
  
    --ui-primary-color: #000;
    --ui-secondary-color: #4c4c4c;
    --ui-light-grey-color: #8a8a8a;
    --ui-color-white: #fff;
    --ui-background-light: #F2F2F2;
  
    /* Animations */
  
    --btn-icon-hover-small: translateX(3px) translateY(-3px);
    --btn-icon-hover-medium: translateX(8px) translateY(-8px);
  }
  
  body {
    color: var(--ui-secondary-color);
    background-color: var(--ui-background-light);
  }
  
  * {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .background-color-white {
    background-color: white;
  }
  
  .text-size-normal {
    color: var(--ui-light-grey-color);
  }
  
  .padding-bottom-0 {
    padding-bottom: 0px !important;
  }
  
  .padding-top-0 {
    padding-top: 0px !important;
  }
  
  /*Reset selects, buttons, and links styles*/
  .w-input, .w-select, a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
  }
  
  .w-input, .w-select {
    vertical-align: middle;
  
  }
  
  .navbar_comp {
    color: var(--ui-color-white);
  }
  
  .navbar_btn-info, .main_btn {
    border: 1px solid var(--ui-color-white);
  }
  
  .hero_comp {
  
    --negative-margin-bottom: 6em;
  
    padding-bottom: var(--negative-margin-bottom);
    margin-bottom: calc(1.5 * var(--negative-margin-bottom));
  }
  
  .hero_comp-content-wrapper {
    margin-bottom: calc(-1 * var(--negative-margin-bottom));
  }
  
  .our-values_top-wrapper .text-size-normal {
    max-width: 40ch;
  }
  
  .main_cta, .main_cta-icon, .main_btn-icon {
    transition: all 100ms;
  }
  
  .main_cta:hover {
    color: #0385FF;
  }
  
  .main_cta:hover .main_cta-icon {
    transform: var(--btn-icon-hover-small)
  }
  
  .projects_comp-top-wrapper .main_btn {
    color: white;
    background-color: var(--ui-light-grey-color);
    border: 1px solid var(--ui-light-grey-color);
  }
  
  .main_btn {
    transition: all 150ms;
  }
  
  .main_btn:hover {
    background-color: var(--ui-secondary-color);
  }
  
  .main_btn:hover .main_btn-icon {
    transform: var(--btn-icon-hover-small);
  }
  
  .is--open .navbar_menu-nav {
    display: flex;
  }
  
  .navbar_menu-link-icon {
    opacity: 0;
    transition: all 150ms;
  }
  
  .navbar_menu-link {
    opacity: .5;
    transition: all 150ms;
  }
  
  .navbar_menu-link:hover {
    opacity: 1;
  }
  
  .navbar_menu-link:hover .navbar_menu-link-icon {
    opacity: 1;
    transform: var(--btn-icon-hover-medium);
  
  }
  
  .about-hero_comp .text-size-large {
    max-width: 40ch;
  }
  
  .our-history_content-left-wrapper .main_btn {
    --about-btn-color: #00000018;
  
  
    border: 1px solid var(--about-btn-color);
    background-color: var(--about-btn-color);
  }
  
  .our-history_content-left-wrapper .main_btn:hover {
    background-color: var(--ui-light-grey-color);
    color: white;
  }
  
  .our-values_content-item .heading-style-medium {
    max-width: 13ch;
  }
  
  .our-team_page-comp-content-wrapper .overline {
    margin-bottom: -10px;
  }
  
  .overline {
    color: currentColor;
    border-color: currentColor;
  }
  
  .contact-hero_heading-wrapper .text-size-large {
    margin-top: 35px;
  }
  
  .contact-hero_info-wrapper .footer_social-media-link {
    color: var(--ui-light-grey-color);
    transition: all 150ms;
  }
  
  .contact-hero_info-wrapper .footer_social-media-link:hover {
    color: var(--ui-primary-color);
  }
  
  .contact-hero_form-wrapper .main_btn {
    border: 1px solid #B6B6B630;
    background-color: #B6B6B630;
    transition: all 150ms;
  }
  
  .contact-hero_form-wrapper .main_btn:hover {
    border: 1px solid var(--ui-secondary-color);
    background-color: var(--ui-secondary-color);
    color: white;
  }
  
  .contact-faq_icon-wrapper {
    transition: all 50ms;
    cursor: pointer;
  }
  
  .contact-faq_icon-wrapper:hover {
    background-color: #00000014;
  }
  
  .contact-faq_top .text-size-normal {
    color: currentColor;
  }
  
  .contact-faq_answer {
    transition: all 150ms;
  }
  
  .is--active .contact-faq_answer {
    height: auto;
    padding-top: 35px;
  }
  
  .contact-faq_icon-wrapper {
    transition: all 150ms;
  }
  
  .is--active .contact-faq_icon-wrapper {
    transform: rotate(-135deg);
  }
  
  .is--open .navbar_menu-icon-closed {
    display: flex;
  }
  
  .is--open .navbar_menu-icon {
    display: none;
  }
  
  .navbar.on--scroll {
    background-color: var(--ui-background-light);
  }
  
  .navbar_btn-info {
    color: currentColor;
    border-color: currentColor;
  }
  
  .navbar_brand-logo {
    transition: all 150ms;
  }
  
  .on--scroll .navbar_brand-logo {
    color: var(--ui-primary-color);
  }
  
  .on--scroll .navbar_comp {
    color: var(--ui-primary-color);
  }
  
  .on--scroll .navbar_menu-icon-wrapper {
    color: currentColor;
    border-color: currentColor;
  }
  
  /* Tablet Breakpoint */
  
  @media screen and (max-width: 991px) {
    .hero_comp {
  
      --negative-margin-bottom: 6em;
  
      padding-bottom: 4em;
      margin-bottom: 5em;
    }
  
    .our-values_top-wrapper .text-size-normal {
      max-width: 100%;
    }
  
    .is--open .navbar_btn-info {
      display: flex;
      border: 1px solid var(--ui-light-grey-color);
      color: var(--ui-secondary-color);
    }
  
    .is--open .navbar_btn-wrapper {
      display: flex;
    }
  
    .is--open .navbar_menu-icon-wrapper {
      color: black;
    }
  
    .our-values_content-item .heading-style-medium {
      max-width: 100%;
    }
  
    .navbar_menu-nav {
      box-shadow: none;
    }
  
  }
  
  /* Mobile Breakpoint */
  
  @media screen and (max-width: 474px) {}